<nav style="margin-left: 15px; margin-right: 15px;">
    <hr>
<h3>
    <a href="/" style="color: #73879C;"><img src="/img/mlogoemi.png" alt="Logo-emi" />ESCUELA MILITAR DE INGENIERÍA</a>
    <a href="/new-entry" class="btn float-right" style="background-color: #337ab7; color: #fff;">Consulta Order Code Aprobado</a>    
    <a href="/get-facture" class="btn float-right" style="background-color: #55cc6f; color: #fff;">Facturas Estudiante</a>
</h3>
</nav>
<hr>