*{
    margin: 1px;
    padding: 0;
}
body
{
    margin: 0;
    background: #f3f3f4 url('../img/backgroun-emi.png') top center no-repeat fixed;    
}

#ht-emi
{
    background-color: #337ab7;
    color: #fff;
}

#ht-btn-emi
{
    /* background-color: #20a939; */
    background-color: #26b99a;
    color: #fff;
}

#pro-btn-emi
{
    background: #ff4700; 
    color: #fff;
}
#pro-div-emi
{
    background: transparent;
}
#ht-sub1-emi
{
    background-color: #f0ad4e;
    color: #fff;
}

#ht-sub2-emi
{
    background-color: #26b99a;
    color: #fff;
}

.table-det-emi
{
    background: transparent;
}

#alert-emi
{
    color: #73879C
}

#code-emi
{
    border-top: none;
    border-left: none; 
    border-right: none;
    background: transparent;
    border-bottom-color: #f0ad4e;
}

#btn-submit-emi
{
    background-color: #337ab7; 
    color: #fff;
}

#head-emi
{
    background: #17a2b8;
    color: #fff;
    text-align: center;
}
#body-emi
{
    background: #fff;
    text-align: center;
}
#alumno-title
{
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}