<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/cdn-boostrap') %>
  </head>
  <body class="container">
    <%- include('partials/header') %> <% if (msg_resp.resp) {%>
    <div class="container">
      <div class="alert alert-info" role="alert" id="alert-emi">
        <h5 class="text-center"><%= msg_resp.msg %></h5>
      </div>
    </div>

    <% } %>
  </body>
</html>
